@import "tailwindcss";

@source "../../vendor/power-components/livewire-powergrid/src/Themes/*.php";

@source "../../vendor/power-components/livewire-powergrid/src/Themes/Tailwind.php";

@import '../../vendor/livewire/flux/dist/flux.css';


/* Removed unsupported @custom-variant at-rule */

:root {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-nos-50: #e6eaf2;
    --color-nos-100: #cce5d5;
    --color-nos-200: #99aacb;
    --color-nos-300: #6680b1;
    --color-nos-400: #335597;
    --color-nos-500: #0c224d;
    --color-nos-600: #0a1d44;
    --color-nos-700: #08183b;
    --color-nos-800: #061232;
    --color-nos-900: #040d29;
    --color-nos-950: #020714;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    display: grid;
    gap: 0.5rem;
}

[data-flux-label] {
    margin-bottom: 0 !important;
    line-height: 1.25 !important;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    outline: none;
    box-shadow: 0 0 0 2px var(--color-accent), 0 0 0 4px var(--color-accent-foreground);
}

.table {
    width: 100%;
}

.table th {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #08183b; /* text-nos-800 */
}
.dark .table th {
    color: #cce5d5; /* text-nos-200 */
}

.table td {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    white-space: nowrap;
    font-size: 0.875rem;
    color: #08183b; /* text-nos-700 */
}
.dark .table td {
    color: #e6eaf2; /* text-nos-100 */
}
/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
